<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wilkommen</title>
</head>
{% load static %}
<body>
    <header>
        <h1>Einkaufslisten</h1>
    </header>
    <div class="input">
        <form method="POST" action="speichern">
{% csrf_token %}
            <input type="text" name="eingabe" placeholder="Was brauchst du noch?">
            <input type="text" name="menge" placeholder="Wie viel brauchst du?">
            <input type="submit" name="Abschicken" value="Abschicken"> 
        </form>
        <form method="POST">
            <h2>Die liste</h2>
{% for item in items %}
            <ul>
                <li>{{item}}</li>
            </ul>
{% endfor %}
        </form>
    </div>    
</body>
</html>