<!DOCTYPE html>
<html lang="en">
   
<head>
{% load static %}     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static './schiffe/benutzer.css' %}">
    <title>Schiffe versenken - Benutzer</title>
    
</head>
<body>
<header>
    <h1>Insert Name</h1>
</header>
<main>    
    <form method="POST" action="spieler_eingabe">
{% csrf_token%}  
        <input type="text" name="spieler_eingabe" id="spieler" placeholder="Normal text input">
        
        <table>
            <tr>
                <th>Name</th>
                <th>Auswahl</th>
            </tr>    
{% for item in benuters %}
            <tr><td>{{item}}</td><td><input type="checkbox" name="auswahl" value="{{item}}"</td></tr>
{% endfor %}
        </table>
        <h2>choose mode</h2>
        <input type="radio" name="vs_bots">vs. Bots<br>
        <input type="radio" name="vs_friends">vs. Others (or:Friends,...)<br>
        <div class="buttons">
            <input type="submit" name="Weiter" value="Weiter" id="submit">
            <input type="submit" name="delete" value="delete" id="delete">
        </div>
        
    </form>
</main>    
</body>
</html>