<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schiffe versenken - Startseite</title>
</head>
<body>
    <h1>Schiffe versenken</h1>
    <p>Wilkommen,<br>
    klicke "Weiter" zum fortfahren
    </p>
    <!--action soll auf nächste Seite bringen -->
    <form method="POST" action="benutzer">
{% csrf_token %}
        <input type="submit" name="weiter" value="weiter">
    </form>
</body>
</html>