<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Zahlenraten</h1>

<form action="test" method="POST">
{%csrf_token%}
{% for item in context%}

    <p>{{item}}</p>
    

{%endfor%}      
    <input type="number" name="number" value="">
    <input type="submit" value="weiter" name="weiter">  




 
</form>
</body>
</html>