@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    margin: 0 25%;
    background-color:rgb(51,102,255);
    font-family: "Noto Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
}
#spieler{
    border-radius: 5px;
    font-size: 15px;
}
table{
    margin-top: 15px;
}
table td{
    color: white;
}
.buttons{
    margin-top: 15px;
}