<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coin 3</title>
</head>
<body>
    <div class="header">
        <h1>Coin: Das Spiel!</h1>
    </div>
    <div class="content">
{% if context%}

        <p>
            Die Münze ist gefallen: {{context.wurf}}!
        </p>
        <table>
            <tr>
                <th>Kopf</th>
                <th>Zahl</th>
            </tr>
            <tr>
                <td>{{context.kopf}}</td>
                <td>{{context.zahl}}</td>
            </tr>
        </table>

    </div>
{% endif %}
</body>
</html>