<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Coin 3</title>
</head>
<body>
    <div class="container p-3 mb-2 bg-info text-warning text-center">
        <h1>Coin: Das Spiel!</h1>
    </div>
    <div class="container">
{% if context%}

        <p class="text-center">
            Die Münze ist gefallen: {{context.wurf}}!
        </p>
        
        <table class="table">
            <tr>
                <th scope="col">Kopf</th>
                <th scope="col">Zahl</th>
            </tr>
            <tr>
                <td>{{context.kopf}}</td>
                <td>{{context.zahl}}</td>
            </tr>
        </table>

    </div>
{% endif %}
</body>
</html>