<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<h1>Terminkalender</h1>
<br>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th>title</th>
            <th>notes</th>
            <th>date</th>
            <th>time_left</th>
        </tr>
    </thead>
{% for eintrag in duty_all%}
    <tbody>
    {% if eintrag.time_left >= "0"  %} 
        <tr style="background-color: red">
    
    

        <td>{{eintrag.title}}</td>
        <td>{{eintrag.note}}</td>
        <td>{{eintrag.due_date}}</td>
        <td>{{eintrag.time_left}}</td>
        


        </tr>
    {% else %}
        <tr>
    
    

        <td>{{eintrag.title}}</td>
        <td>{{eintrag.note}}</td>
        <td>{{eintrag.due_date}}</td>
        <td>{{eintrag.time_left}}</td>
        


        </tr>    

    {% endif %}
    </tbody>

{%endfor%}
</table>
<form action="{% url 'hinzufugen'%}" method="POST">
{%csrf_token%}    
    <input type="text" name="title">
    <input type="text" name="notes">
    <input type="date" name="due_date">

    <input type="submit" name="hinzufügen" value="hinzufügen">


</form>    
</body>
</html>